/**
 * Simple Documentation
 * Created by ThemesIndep.
**/

body {
	color:#000;	
	font-size:14px;
	font-family:Arial;
}

a {color:#4169e1;}
a:hover {color:#000;}

p {color:#000000;}

.tech {
	margin:0;
	padding:0;
}

.tech li{
	margin-bottom:5px;
	list-style-type: none;
}

.main {
	position: absolute;
	right: 50px;
	left: 250px;
	min-height: 100%;
	height: auto;
}

.thankyou{
	padding-top:50px;
	font-style:italic;	
}

.star{
	color:red;	
	font-weight:bold;
	font-size:18px;
}

.msg {
	padding:18px;
	margin:18px 0;
	background:#f5f8fc;
	border-radius:2px;
}


/* -- Menu
--------------------------------------- */
aside {
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	min-height:100%;
	background: #fbfbfb;
	border-right:1px solid #a4b3b7;
	width: 250px;
}

aside ul {
	list-style-type: none;
	margin:180px 0 0 0;
	padding:0;
}

aside ul li {
	text-align: left;
}

aside a {
	padding:15px 30px;
	display:block;
	text-decoration: none;
}

aside li a:hover,
aside li.current a{
	color:#000;
	background: #f5f8fc;
}




/* -- Section
--------------------------------------- */
section{
	margin:0 0 100px 50px;
	width: 750px;
}

section h1 {
	padding-top:100px;
}

section h2 {
	padding-top:50px;	
}

section h1 + h2{
	padding-top:0;
}

section h2{
	padding-bottom: 18px;
	margin-bottom:40px;
	border-bottom:1px solid #a4b3b7;
}

section h3{
	margin-bottom:10px;
}

section .block{
	margin-bottom:40px;	
	padding-bottom:40px;
	line-height:22px;
	border-bottom:1px solid #ddd;
}

section .note{
	margin:24px 0 0 0;
}
section .note p{
	color:#777 !important;
}

section .block li{
	margin-bottom:10px;
}

.copy {
	margin-bottom:30px;	
}